# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtualenv directories
venv/
ENV/
env/
env.bak/
venv.bak/

# Pipenv files
Pipfile.lock

# pyenv files
.python-version

# Poetry files
poetry.lock
poetry.toml

# Spyder project settings
.spyderproject
.spyproject

# Jupyter Notebook files
.ipynb_checkpoints

# pycharm specific files
.idea/
*.iml

# VSCode specific files
.vscode/

# pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage results
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
coverage/
.tox/
.nox/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask/Django local environments
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# pyinstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Mac-specific files
.DS_Store

